.error-section{
    // min-height: 80vh;
    text-align: center;
}
.error-image{
    max-width: 500px;
    padding: 1rem;
}
.error-text{
    padding: 1rem;
    h2{
        padding-bottom: 1rem;
    }
}