/* primary button */
.button {
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 0.6rem;
  font-family: Inter, system-ui, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none !important;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  letter-spacing: inherit;
  transition: background 0.25s ease-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

//BLACK BUTTON
.btn-black {
  color: var(--white);
  background-color: var(--black);
}

//BLUE BUTTON
.btn-orange {
  color: var(--white);
  background-color: var(--orange);
}
//BLUE BUTTON
.btn-blue {
  color: var(--black);
  background-color: var(--blue);
}

.btn-primary:active,
.btn-primary-menu:active,
.btn-primary-long:active {
  outline: 0;
}
.button:hover,
.button:active,
.btn-primary-long:hover,
.btn-primary-menu:hover {
  background-color: var(--white);
  color: var(--orange);
}

//LONG BUTTON
.btn-primary-long {
  padding: 0.8rem 4rem;
  font-size: 1.2rem;
}
.btn-primary-long:hover,
.btn-primary-long:active {
  background-color: var(--white);
  color: var(--orange);
}
.btn-blue:hover {
  color: var(--black);
  background-color: rgba(#9debed, 0.7);
}
//MENU BUTTON
.btn-primary-menu {
  padding: 0.65rem 1.5rem;
}
@media only screen and (max-width: 680px) {
  .btn-primary-menu {
    font-size: 2rem;
    font-weight: 800;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
  }
}
.btn-primary-menu:hover,
.btn-primary-menu:active {
  background-color: var(--white);
  color: var(--orange);
}
