/* primary button */
.button {
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 0.6rem;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none !important;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  letter-spacing: inherit;
  transition: background 0.25s ease-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(206, 164, 164, 0.3) 0px 1px 3px -1px;
}

.button:hover,
.button:active,
.btn-primary-menu:hover,
.btn-primary-menu:active,
.btn-primary-long:hover,
.btn-primary-long:active {
  background-color: var(--black-1);
  color: var(--white-0);
}

//BLACK BUTTON
.btn-black {
  color: var(--white-0);
  background-color: var(--black-0);
}
//MENU BUTTON
.btn-primary-menu {
  padding: 0.9rem 2rem;
}
//BLUE BUTTON
.btn-blue {
  color: var(--black-0);
  background-color: var(--blue-3);
  border: 2px solid var(--black-0);
}
.btn-blue:hover {
  color: var(--black);
  background-color: var(--blue-4);
}

//LONG BUTTON
.btn-primary-long {
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 680px) {
  .btn-primary-menu {
    font-size: 2rem;
    font-weight: 800;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
  }
}

