.cta {
  width: 100%;
  display: grid;
  grid-column: main-start/main-end;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  row-gap: 4vmin;
  column-gap: 2rem;
  align-items: center;
  justify-content: start;
  padding: 2rem 1rem;
  grid-auto-flow: row;
}
@media only screen and (max-width: 400px) {
  .cta {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}
.book-button{
  padding-top: 1rem;
}