.questions-section {
  background-color: #f7fafc;
  padding-bottom: 10rem;
}
.accordion-section-title {
  margin-top: 4rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba($color: #15171a, $alpha: 0.7);
  border-bottom: 1px solid #e5eff5;
}
