.feature-section {
  padding: 4rem 0 4rem;
}
.feature {
  width: 100%;
  display: grid;
  grid-column: main-start/main-end;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  row-gap: 4vmin;
  column-gap: 2rem;
  align-items: center;
  justify-content: start;
  padding: 2rem 1rem;
  grid-auto-flow: row;
}
@media only screen and (max-width: 400px) {
  .feature {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}
.feature-0 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-empty-0 {
  width: 10%;
}
.feature-text-0 {
  min-width: 320px;
  width: 35%;
  padding: 0 2rem 0 1rem;
}
.feature-image-0 {
  width: 55%;
}
.feature-image-inner-0 {
  border-radius: 1rem 0 0 1rem;
}
.feature-tag {
  color: var(--tag);
  padding-bottom: 1rem;
}
.feature-title {
  max-width: 42rem;
  color: var(--black-1);
  padding-bottom: 1rem;
}
.feature-paragraph {
  max-width: 42rem;
  color: var(--black-2);
}
.feature-sus-goals {
  margin: 1rem 0 0;
  border: 1px solid var(--black-3);
  border-radius: 1.1rem;
  transition: border 0.3s ease-in;
}
.feature-sus-goals:hover {
  border: 1px solid var(--black-2);
}
.feature-image-inner {
  border-radius: 1rem;
}
@media only screen and (max-width: 1140px) {
  .feature-0 {
    flex-direction: column;
  }
  .feature-text-0 {
    text-align: center;
    max-width: 50rem;
    width: 100%;
    padding: 0 1rem 0 1rem;
  }
  .feature-title,
  .feature-paragraph {
    max-width: 60rem;
  }
  .feature-image-0 {
    width: 100%;
  }
  .feature-image-inner-0 {
    border-radius: 0;
  }
}

//SPAN EMPHASIS //TEXT COLOR
.strong-black {
  color: var(--black-0);
}
.weak-black {
  color: var(--black-3);
}
.strong-white {
  color: var(--white-0);
}
.weak-white {
  color: var(--white-1);
}
