//footer css
.footer-section {
  background: var(--footer);
  p {
    color: rgba($color: #fff, $alpha: 0.7);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
  }
}
.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4rem 0 2rem;
  flex-wrap: wrap;
  color: rgba($color: #fff, $alpha: 0.7);
  a {
    color: rgba($color: #fff, $alpha: 0.7);
  }
  a:hover {
    color: rgba($color: #fff, $alpha: 1);
  }
}
.sitemap {
  li {
    padding-bottom: 1rem;
  }
}
.website-info,
.social-info,
.support-info {
  width: 10rem;
}
.social-icons {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  align-items: center;
  div {
    padding: 0.3rem;
    margin-right: 1rem;
  }
}
.company-info {
  max-width: 27rem;
  h4 {
    padding-bottom: 1rem;
  }
}

.copyright-text {
  padding: 1.25rem 0;
  border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
}
@media only screen and (max-width: 640px) {
  .footer {
    div {
      margin-bottom: 1.25rem;
    }
  }
}
