//footer css
.footer-section {
  background: var(--black);
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 4rem;
  color: rgba($color: #fff, $alpha: 0.8);
  a {
    color: rgba($color: #fff, $alpha: 0.7);
  }
  a:hover {
    color: rgba($color: #fff, $alpha: 1);
  }
}
.sitemap {
  li {
    padding-bottom: 1rem;
    text-decoration: none;
  }
}

.company-info {
  padding-top: 1rem;
  div {
    padding-bottom: 1rem;
  }
  h4 {
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 640px) {
  .footer {
    flex-direction: column;
  }
}
