@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import "hamburger"; //imports hamburger menu css
@import "accordion"; //imports accordion css
@import "forms"; //imports bootstrap form css

:root {
  --black: #15171a;
  --white: #ffffff;
  --orange: #eb5634;
  --blue: #9debed;
  --gray: #696969;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: #ffffff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

figcaption,
figure,
main {
  display: block;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: Inter, sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusing,
[type="button"]:-moz-focusing,
[type="reset"]:-moz-focusing,
[type="submit"]:-moz-focusing {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

h1 {
  font-size: 2.7rem;
}
@media (min-width: 320px) {
  h1 {
    font-size: calc(2rem + 2.5vw);
  }
}
@media (min-width: 960px) {
  h1 {
    font-size: 4.2rem;
  }
}

p {
  color: rgba($color: #15171a, $alpha: 0.7);
  font-size: 1.125rem;
  font-weight: 600;
}

.bolder {
  font-weight: 500;
}
/* Hide elements, for screen readers only */
.screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
/* container  */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1128px;
}
.container-2 {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1080px;
}
.container-3 {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 968px;
}
//center text
.center {
  text-align: center;
}
/* unordered list items reset */
.list-reset {
  list-style: none;
  padding: 0;
}
.list-reset li {
  margin: 0;
}
//section header css
.page-header {
  // background: linear-gradient(
  //   137deg,
  //   rgba(157, 235, 237, 1) 0%,
  //   rgba(114, 94, 153, 1) 53%,
  //   rgba(235, 86, 52, 1) 88%
  // );
  background: rgb(157, 235, 237);
  background: linear-gradient(
    137deg,
    rgba(157, 235, 237, 1) 7%,
    rgba(114, 94, 153, 0.8701855742296919) 48%,
    rgba(235, 86, 52, 1) 90%
  );
}
