@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import "hamburger"; //imports hamburger menu css
@import "links"; //imports bootstrap form css
@import "accordion"; //imports accordion css
@import "forms"; //imports bootstrap form css

:root {
  --success: #039e66;
  --error: #e02c26;
  --tag: #ea5634;
  --footer: #F4F5F8;
  --disabled: #e9ecef;

  --black-0: #23282d; //original TRY #23282D
  --black-1: #292d33;
  --black-2: #535a66;
  --black-3: #727c8c;
  --black-4: #9aa1ac; //CCD2D5
  --black-5: #F4F5F8; //CCD2D5

  --white-0: #f7fafc; //original
  --white-1: #ccd2d5; //c4d7f2; old color
  --white-2: #919eb3;
  --white-3: #8693a6;
  --white-4: #9aa1ac;

  --orange-0: #6b2718;
  --orange-1: #ab3e26;
  --orange-2: #d14c2e;
  --orange-3: #ea5634; //original
  --orange-4: #f75a36;

  --blue-0: #486c6e;
  --blue-1: #72abad;
  --blue-2: #8cd1d4;
  --blue-3: #9debed; //original
  --blue-4: #a5f7fa;

  --bg-orange-0: #fdf0ed;
  --bg-gray-0: #f4f6f6;
  --bg-blue-0: #eefbfc; //#EEFBFC // --bg-blue-0: #eef4fb;
  --bg-blue-1: #eef4fb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: #ffffff;
  font-family: Inter, "Myriad Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

figcaption,
figure,
main {
  display: block;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: Inter, sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusing,
[type="button"]:-moz-focusing,
[type="reset"]:-moz-focusing,
[type="submit"]:-moz-focusing {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

h1 {
  font-size: 2.7rem;
  line-height: 4.5rem;
  font-weight: 800;
}
@media (min-width: 320px) {
  h1 {
    font-size: calc(2rem + 2.5vw);
  }
}
@media (min-width: 960px) {
  h1 {
    font-size: 4.2rem;
  }
}
h2 {
  font-size: 2.3rem;
  font-weight: 800;
  color: var(--black-1);
}
@media (min-width: 320px) {
  h2 {
    font-size: calc(1.95rem + 1.75vw);
  }
}
@media (min-width: 960px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 32px;
}

/* Hide elements, for screen readers only */
.screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
/* CONTAINERS  */
.container-0 {
  max-width: 100%;
  margin: 0 auto;
  max-width: 1368px;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1128px;
}
.container-2 {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1080px;
}
.container-3 {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 968px;
}
.container-4 {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 720px;
}
.container-5 {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 640px;
}
//center text
.center {
  text-align: center;
}
.test {
  display: flex !important;
  justify-content: center !important;
}
/* unordered list items reset */
.list-reset {
  list-style: none;
  padding: 0;
}
.list-reset li {
  margin: 0;
}
//section header css
.page-header {
  background: rgb(235, 86, 52);
  background: radial-gradient(
    circle,
    rgba(235, 86, 52, 1) 23%,
    rgba(157, 235, 237, 1) 76%,
    rgba(247, 250, 252, 0.8519782913165266) 100%
  );
  z-index: -1;
}
//SECTION HEADER TYPE
.tag {
  padding-bottom: 1rem;
  color: var(--tag);
  text-transform: uppercase;
}
.title {
  max-width: 42rem;
  padding-bottom: 1rem;
}
.paragraph {
  color: var(--black-2);
  max-width: 36rem;
}
.paragraph-1 {
  max-width: 41rem;
}
.swiper-container {
  width: 80vw;
}

.swiper-slide {
  background-size: cover;
  background-position: 50%;
  min-height: 80vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}