//section header css
.page-header-home {
  background: var(--black-0);
  z-index: -1;
  min-height: 35rem;
  height: 95vh;
}

.hero-section-inner {
  // text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center; //centering items along the y-axis
  justify-content: center;
  h1 {
    color: var(--white-0);
    max-width: 50rem;
    padding-bottom: 2rem;
  }
  span {
    // color: rgb(157, 235, 237);
    color: var(--orange-4);
  }
  p {
    color: rgba(#f7fafc, 0.8);
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
}
