.hero-section {
  height: 42rem;
}
.campus-section {
  padding: 1.5rem 0;
  // background-color: #f4f4f7;
}
.numbers-section {
  background-color: rgba($color: #9debed, $alpha: 0.4);
}
.brand-section {
  padding: 2rem 0 1rem;
}
.testimonial-section {
  background-color: rgba(157, 235, 237, 0.4);
  padding: 2rem 0 1rem;
}
// .section-gray {
//   background-color: #f4f4f7;
// }
// .section-black {
//   background-color: #15171a;
// }
// .section-orange {
//   background-color: #eb5634;
// }
// .section-purple {
//   background-color: #87509c;
// }
// .section-blue {
//   background-color: rgba($color: #9debed, $alpha: 0.4);;
// }
