/* navbar css */
.site-header {
  position: relative !important;
  top: 0;
  width: 100%;
  z-index: 10 !important;
}
.site-header-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  padding-top: 1rem;
}
.logo {
  width: 11rem;
  &:hover{
    cursor: pointer;
  }
}
