/* navbar css */
.site-header {
  position: relative !important;
  top: 0;
  width: 100%;
}
.site-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media only screen and (max-width: 680px) {
  .site-header-inner {
    height: 4rem;
  }
}
.logo {
  width: 12rem;
  padding-left: 0.4rem;
  &:hover {
    cursor: pointer;
  }
}
