/* navbar css */
.site-header {
  position: relative !important;
  top: 0;
  width: 100%;
}
.site-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.logo {
  width: 12rem;
  padding-left: 0.4rem;
  &:hover{
    cursor: pointer;
  }
}
