.numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div {
    padding: 1rem 0;
  }
  h1 {
    font-size: 3.7rem;
    color: var(--orange-3);
  }
  @media (min-width: 320px) {
    h1 {
      font-size: 5rem;
    }
  }
  @media (min-width: 624px) {
    h1 {
      font-size: 3.7rem;
    }
  }
  @media (min-width: 960px) {
    h1 {
      font-size: 4.2rem;
    }
  }
}
@media only screen and (max-width: 640px) {
  .numbers {
    flex-direction: column;
    li {
      padding: 1.5rem 0 0.5rem;
    }
  }
}
