.tag {
  padding-bottom: 1rem;
  color: var(--tag);
  text-transform: uppercase;
}
.title {
  max-width: 40rem;
  padding-bottom: 1rem;
}
.paragraph {
    color: rgba(#292d33, 0.7);
    font-weight: 400;
  max-width: 45rem;
}
