.testimonial-section {
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.col {
  flex: 32%;
  max-width: 31%;
  min-width: 290px;
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 1.2rem;
  margin: 10px;
  border: 1px solid rgba($color: #15171a, $alpha: 0.5)
}
.testimonial {
  // min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  span {
    font-size: 2.75rem;
    margin-bottom: 1rem;
    color: var(--tag);
  }
  h4 {
    // color: var(--orange);
    margin-top: 1rem;
    text-align: center;
  }
  p {
    text-align: center;
    color: var(--black-1);
  }
}
