.testimonial-text {
  color: var(--black-2);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 32px;
}
.testimonial{
    padding: 5rem 0;
    max-width: 100%;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 640px;
  }
//   "url(./car.jpg);"